* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 54px;
    line-height: 55px;
    color: #222;

}

h2 {
    font-size: 46px;
    line-height: 40px;
    color: #222;

}

h4 {
    font-size: 30px;
    line-height: 35px;
    color: #222;
}
p{
    text-align: center;

}

#header {
    display: flex;
    padding: 20px 80px;
    align-items: center;
    justify-content: space-between;
    background: #E3E6F3;
    box-shadow: 0 5PX 15PX rgba(0, 0, 0, 0.06);
    position: sticky;
    top: 0;
    left: 0;

}
.header2{
    padding: 20px 80px 30px ;
    align-items: center;
    justify-content: space-between;
    background: #E3E6F3;
    box-shadow: 0 5PX 15PX rgba(0, 0, 0, 0.06);
    position: sticky;
    top: 0;
    left: 0;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: black;
    transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active {
    color: rgb(83, 230, 230);

}
#navbar li a.active::after,
#navbar li a:hover::after{
    content: "";
    width: 30%;
    height: 2px;
    position: absolute;
    bottom: -4px;
    left: 20px;
    background-color: rgb(83, 230, 230);;
}

#page1 {
    background-image: url("images/backwall1.jpg");
    height: 90vh;
    width: 90%;
    background-position: top 25% right 10%;
    background-size: cover;
    padding: 0 80px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

#page1 button {
    background-image: url("images/shopnow.png");
    border: 0;
    background-color: transparent;
    padding: 14px 150px 200px 150px;
    background-repeat: no-repeat;
    cursor: pointer;

}

.section-padding {
    padding: 30px 80px;
    
}
.container{
    display: flex;
}

#shop-products {

    text-align: center;
    

}

.product1 {
    text-align: center;
    justify-content: center;
    padding: 20px 20px 20px 20px;
    

}
.N-arrival-btn{
width: 270px;
height: 300px;
border: 2px solid #cce7d0;
padding: 20px 30px;
box-shadow: 50px 50px 70px rgba(0, 0, 0, 0.03);
cursor: pointer;
background-repeat: no-repeat;
transition: 0.3s;

}
.N-arrival-btn:hover{ opacity: 0.7;}
.cloths{
    width: 300px;
    height: 350px;
    border: 2px solid #cce7d0;
    padding: 20px 20px;
    box-shadow: 50px 50px 70px rgba(0, 0, 0, 0.03);
    cursor: pointer;
    background-repeat: no-repeat;
    margin-bottom: 20px;
    margin-top: 30px;
    align-content: center;
    align-items: center; 
    transition: 0.3s;
    
 
}
.cloths:hover{
  opacity: 75%;
  background-color: rgba(red, rgba(81, 111, 81, 0.641), blue, alpha);

}
#stars{
  color:orange;
  align-items: center;
  align-content: center;
  padding-left: 30%;
  
}
@keyframes zoom{
  from{transformation:scale(0)}
  to{transformation:scale(1)}
  
}
.view-all{
    align-content: center;

}
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  padding-top: 30px;
  padding-bottom: 10px;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
.slide-image{
    height: 600px;
    width: 100%;
}
.column{
  float: left; 
  width: 24%;
  padding-left: 50px; 
  margin-left: px;
  
}
.row::after{

content: "";
clear: both;
display: table;
}
  /* cart  */
  .sub-header{
margin-left: 30px;
margin-top: 30px;
  }
  .container{
    padding:20px 20px;
    margin-left:  100px ;
    margin-right: 100px;
  }
  #cart-container table{
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
  }
  #cart-container table thead{
    font-weight: 700;

  }
  #cart-container table thead td{
    background-color: #fd8c66;
    color: #fff;
    padding: 15px 0px;
  }
  #cart-container table td{
    border: 1px solid;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .cart-body {
    align-items: center;
    justify-content: center;
    object-fit: cover;
   
  }
  .cart-p1{
    width: 30%;
  
  }
  #cart-container table thead td i{
    color: #524c4c;
  }
  #cart-bottom{
    display: flex;
    float: right;
    margin-right: 0px;
    
  }
  #voucher-head{
    background-color:#fd8c66;
    color: #fff;
  }
  #total-box{
    border: 1px solid #524c4c;
    padding: 5px;
    margin-right: 0px;
    float: right;
    
 
  }
  .basket-title{
    background-color: #fd8c66;
    color: #fff;
  }
  .buy-btn{
    float: right;
    margin-right: 0px;
    font-family: Arial, Helvetica, sans-serif;
   padding: 20px;
   background-color: #fd8c66;
   color: #fff;
   border-radius: 30px;
  
    
  }
  /* footer*/
 .bottom-img{
  align-content: center;
  align-items: center;
 padding-left: 100px;
  display: flex;
 }
 #call{
  padding-left: 100px;
  display: flex;
 }
 #location{
  padding-left: 100px;
  padding-bottom: 30px;
  display: flex;

 }
 #inquary{
  padding-left: 100px;
  padding-bottom: 30px;
  padding-top: 20px;
 }
 #contact-btn{
  height: 30px;
  width: 100px;
  background-color: red;
  border: #222 1px solid;
  padding: auto;
  margin-left: 130px;
  text-align: center;
  padding-top: 3px;
  border-radius: 60px;
 }
 .gradient-custom {
  /* fallback for old browsers */
  background: #6a11cb;
  
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
  
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
  }
 .mb-4{
  border: #222 ipx solid;
  padding: 50px;
 }
 .paragraph{
  float: left;
  align-items: stretch;
  display: flex;
 }
 .blog-images{
  width: 400px;
 margin-left: 40px;
  
  text-align: center;
  cursor: pointer;
  transition: background-color 0.6s ease;
 }
 .blog-images:hover{
  background-color: #e9e4e4;
  opacity: 75%;
  
 }
 .blog-row::after{
  content: "";
clear: both;
display: table;
 }
 .blog-column{
 padding-top: 20px;
 float: left;
 align-items: center;
 align-content: center;
 margin-left: 40px;
 
 }
 @import url(https://fonts.googleapis.com/css?family=Raleway:400,900,700,600,500,300,200,100,800);

section{
    padding:60px 0px;
    font-family: 'Raleway', sans-serif;
}

h2 {
    color: #4C4C4C;
    word-spacing: 5px;
    font-size: 30px;
    font-weight: 700;
    margin-bottom:30px;
    font-family: 'Raleway', sans-serif;
}

p{
    font-size:13px;
}

.ion-minus{
    padding:0px 10px;
}

#blog{
	background-color:#f6f6f6;
}

#blog .carousel-indicators {
    bottom: -60px;
}

#blog .carousel-indicators li{
    background-color: #5db4c0;
    height: 13px;
    width: 13px;
    margin: 5px;
}

#blog .carousel-indicators li.active{
    background-color: #888383;
}

#blog .card-block{
    padding: 10px;
}

#blog .card{
    background-color: #FFF;
    border: 1px solid #eceaea;
    margin: 20px 0px;
}

.btn.btn-default {
    background-color: #5db4c0;
    color: #fff;
    border-radius: 0;
    border: none;
    padding: 13px 20px;
    font-size: 13px;
    font-weight: 600;
}
 
 


  
 

 
