* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 54px;
    line-height: 55px;
    color: #222;

}

h2 {
    font-size: 46px;
    line-height: 40px;
    color: #222;

}

h4 {
    font-size: 30px;
    line-height: 35px;
    color: #222;
}
p{
    text-align: center;

}

#header {
    display: flex;
    padding: 20px 80px;
    align-items: center;
    justify-content: space-between;
    background: #E3E6F3;
    box-shadow: 0 5PX 15PX rgba(0, 0, 0, 0.06);
    position: sticky;
    top: 0;
    left: 0;

}
.header2{
    padding: 20px 80px 30px ;
    align-items: center;
    justify-content: space-between;
    background: #E3E6F3;
    box-shadow: 0 5PX 15PX rgba(0, 0, 0, 0.06);
    position: sticky;
    top: 0;
    left: 0;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: black;
    transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active {
    color: rgb(83, 230, 230);

}
#navbar li a.active::after,
#navbar li a:hover::after{
    content: "";
    width: 30%;
    height: 2px;
    position: absolute;
    bottom: -4px;
    left: 20px;
    background-color: rgb(83, 230, 230);;
}

#page1 {
    background-image: url("images/backwall1.jpg");
    height: 90vh;
    width: 90%;
    background-position: top 25% right 10%;
    background-size: cover;
    padding: 0 80px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

#page1 button {
    background-image: url("images/shopnow.png");
    border: 0;
    background-color: transparent;
    padding: 14px 150px 200px 150px;
    background-repeat: no-repeat;
    cursor: pointer;

}

.section-padding {
    padding: 30px 80px;
    
}
.container{
    display: flex;
}

#shop-products {

    text-align: center;
    

}

.product1 {
    text-align: center;
    justify-content: center;
    padding: 20px 20px 20px 20px;
    

}
.N-arrival-btn{
width: 270px;
height: 300px;
border: 2px solid #cce7d0;
padding: 20px 30px;
box-shadow: 50px 50px 70px rgba(0, 0, 0, 0.03);
cursor: pointer;
background-repeat: no-repeat;

}
.cloths{
    width: 300px;
    height: 350px;
    border: 2px solid #cce7d0;
    padding: 20px 20px;
    box-shadow: 50px 50px 70px rgba(0, 0, 0, 0.03);
    cursor: pointer;
    background-repeat: no-repeat;
    margin-bottom: 20px;
    margin-top: 30px;
    align-content: center;
    align-items: center;


    
}
.view-all{
    align-content: center;

}
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  padding-top: 30px;
  padding-bottom: 10px;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
.slide-image{
    height: 600px;
    width: 100%;
}
.column{
  float: left; 
  width: 24%;
  padding-left: 50px; 
  margin-left: px;
  
}
.row::after{

content: "";
clear: both;
display: table;
}
  

